.bg-success1 {
	background-color: #a8f160 !important;
}

.why-choose-title {
	font-family: 'Raleway';
	font-weight: bold;
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 26px;
	line-height: 45px;
}
.why-choose-text {
	color: #757575;
	font-family: Raleway;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}
.bg-warning {
  height: 265px !important;
	background-color: #ffce55 !important;
}
.whychoose-img {
	margin-left: -15px !important;
	margin-bottom: -90px !important;
	z-index: -1;
}
.whychoose-img1{
	margin-left: -15px !important;
	margin-bottom: -320px;
	z-index: -1;
}
.whychoose-img2{
	margin-left: -15px !important;
	margin-bottom: -360px;
	z-index: -1;
}
.whychoose-text-div {
	position: relative;
	top: -140px;
	z-index: 1;
}
.certified {
	font-size: 20px;
	color: #ffffff;
	line-height: 26px;
	text-align: right;
	font-family: Raleway;
	font-weight: 800;
	font-style: normal;
}
.get-job {
	font-size: 18px;
	color: #ffffff;
	line-height: 22px;
	text-align: right;
	font-family: Raleway;
	font-weight: 300;
	font-style: normal;
}
.bg-info1 {
  height: 265px !important;
	background-color: #2cc8de !important;
}
.bg-primary1{
  height: 265px !important;
  background-color: #40a0d2;
}
.border{
  border: 2px solid white !important;
}
.what-to-get-title{
  font-size: 20px;
}
.what-to-get-text{
  font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    color: #666666;
}
