.bg-danger1{
  background-color: #AF0423 !important;
  .personal-learning-title{
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .personal-learning-text{
    font-size: 20px;
    color: white;
  }
  .text-light{
    font-weight: bold;
  }
  .w-25{
    width: 200px !important;
  }
}

