.past-question-title{
  font-family: Raleway;
  font-size: 2.5em;
  font-weight: 700;
}
.waec-logo{
  width: 100px ;
}
.waec-logo-div{
  width: 140px;
  border-radius: 50%;
}
.waec-logo-text{
  font-size: 1.5em;
    line-height: 1.45em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}