.logo {
  width: 160px;
}
.navbar-section{
  background-color: white !important;
}
.navbar-light{
  color: black !important;
}
.navigation-link{
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
  font-weight: bold;
}
.btn-success{
  background-color: #03137A !important;
  border-radius: 25px !important;
  font-size: 0.7142em !important;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-success:hover{
  background-color: #AF0423 !important;
}

.btn-danger{
  background-color: #AF0423 !important;
  border-radius: 25px !important;
  font-size: 0.7142em !important;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-danger:hover {
  background-color: #03137A !important;
}

.form-rounded{
  width: 300px !important;
  border-radius: 1rem !important;
}
span{
  position: absolute;
  color: grey;
  margin-top: 6px;
  margin-left: 270px;
  height: 25px;
  display: flex;
  align-items: center;
}
Input {
  height: 35px !important;
}