.form-rounded{
  border-radius: 1rem;
}
.header-title{
  font-weight: bold;
  font-size: 3.5em;
  line-height: 1.15;
  color: #03137A;
}
.header-text {
  color: #949692;
  font-weight: 600;
  font-size: 1.2em;
}

