.footer-text {
	font-size: 14px;
	color: #666666;
}
.footer-links {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
.copyright-text {
	font-size: 15px;
	color: #fff;
}

.bg-dark {
	background-color: #666666 !important;
}
